src/main/mule/git-hub-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4e7885bb-9d40-4886-8aed-d172eccd4fff" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git-hub-testFlow" doc:id="2fb28d61-68e0-4260-b1e9-c582a069218d" >
		<http:listener doc:name="Listener" doc:id="ce60e7d6-d6a3-44a3-8a56-35659a2c1ec6" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="d9a416b2-004c-411f-8d8c-6b33eafa4482" />
		<ee:transform doc:name="Transform Message" doc:id="e670371e-9dcc-4b44-8973-11c3d6c54462" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9bc6e412-cbb6-4c4e-906e-e84ced9b3412" message="#[payload]"/>
	</flow>
</mule>
